
! URxvt Configuration
URxvt.font:                       xft:DaddyTimeMono NF:size=14:style=regular:autohint=true:pixelsize=19
URxvt.geometry:                   84x16
URxvt.internalBorder:             20
URxvt.cursorBlink:                false
URxvt.cursorUnderline:            true
URxvt.saveLines:                  8192
URxvt.scrollBar:                  false
URxvt.scrollBar_right:            true
URxvt.scrollBar_floating:         false
URxvt.scrollstyle:                plain
URxvt.scrollWithBuffer:           false
URxvt.urgentOnBell:               false
URxvt.depth:                      32
URxvt.iso14755:                   false
URxvt.pointerBlank:               true
! URxvt.letterSpace: -1

! URxvt Extensions
URxvt.perl-ext-common:            default,tabbedex,url-select,font-size

URxvt.keysym.Control-Right:     font-size:increase
URxvt.keysym.Control-Left:   font-size:decrease
URxvt.keysym.Control-Shift-Right:   font-size:incglobal
URxvt.keysym.Control-Shift-Left: font-size:decglobal
URxvt.keysym.Control-equal:  font-size:reset
URxvt.keysym.Control-slash:  font-size:show

URxvt.keysym.Control-Shift-C:     eval:selection_to_clipboard
URxvt.keysym.Control-Shift-V:     eval:paste_clipboard
URxvt.keysym.Control-Up:          eval:scroll_up 1
URxvt.keysym.Control-Down:        eval:scroll_down 1
URxvt.keysym.Control-Home:        eval:scroll_to_top
URxvt.keysym.Control-End:         eval:scroll_to_bottom

! special
*.foreground:   #bfc9db
*.background:   #0f0f17

! black
*.color0:       #13141c
*.color8:       #646a73

! red
*.color1:       #d78787
*.color9:       #d78787

! green
*.color2:       #afbea2
*.color10:      #afbea2

! yellow
*.color3:       #e4c9af
*.color11:      #e4c9af

! blue
*.color4:       #a1bdce
*.color12:      #a1bdce

! magenta
*.color5:       #d7beda
*.color13:      #d7beda

! cyan
*.color6:       #b1e7dd
*.color14:      #b1e7dd

! white
*.color7:       #bfc9db
*.color15:      #858893
