$black0: #0f0f17;
$black1: #1a1826;
$black2: #17162b;
$black3: #22242b;
$black4: #575268;
$rosewater: #f5e0dc;
$flamingo: #f2cdcd;
$mauve: #d7beda;
$pink: #c98bbf;
$maroon: #e8a2af;
$red: #d78787;
$peach: #e0b089;
$yellow: #e4c9af;
$green: #afbea2;
$teal: #afcee0;
$blue: #a1bdce;
$sky: #77a5bf;
$lavender: #b1b9c7;
$white: #bfc9db;
