/* Custom Settings */
.text-button {
  margin-left: 3px;
  margin-right: 3px;
  padding-bottom: 1px;
  padding-top: 1px;
  border-radius: 6px;
  transition: 0.3s;
}

.text-button:checked {
  background: #0f0f17;
  border-radius: 6px;
}

.text-button:hover {
  color: #9db9c9;
  transition: 0.3s;
}

.image-button {
  color: #1e1e2e;
  margin-left: 4px;
  margin-right: 4px;
  padding-left: 1px;
  padding-right: 1px;
  transition: 0.3s;
  border-radius: 5px;
}

.image-button:hover {
  background: #1e1e2e;
  transition: 0.3s;
}

.image-button:checked {
  color: #F9F9F9;
  background: #0f0f17;
}

.image-button:disabled {
  color: #a1bdce;
}

.titlebar {
  min-height: 48px;
  box-shadow: none;
}

.termite {
padding: 20px;
}

/**********
 * Thunar *
 **********/
.thunar #location-toolbar {
  border-bottom: 1px solid rgba(0,0,0,0);
}

.thunar .standard-view.frame {
  border-style: none;
}

.thunar .sidebar {
    background-image:url("../gtk-assets/thunar-sidebar.png");
}

.thunar .sidebar .view {
    font-style: Italic;
    font-weight: bold;
    color: #a0bccc;
    background: #1e1e2e;
}

.thunar .sidebar .view:not(:selected) {
  font-weight: normal;
  color: #bfc9db;
  background-color: transparent;
}

.thunar statusbar {
  margin: 0 -10px;
  padding: 0 4px;
  border-top: 1px solid rgba(0,0,0,0);
}
